@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: #06232c;
  color: white;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    @include tablet {
      padding: 1.5rem 3rem;
    }
  }

  &__logo {
    @include page-subheader;
  }

  &__nav {
    display: none;
    @include tablet {
      display: flex;
      gap: 1rem;
      @include body-medium;
    }
  }

  &__search {
    width: 1.5rem;
    height: 1.5rem;
    @include tablet {
      display: none;
    }
  }
}
