@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background: $blue;
  color: white;
  padding: 2.5rem 1.5rem;

  @include desktop {
    padding: 2.5rem 3rem;
  }

  &__logo {
    display: none;
    @include tablet {
      display: flex;
      @include page-subheader;
      margin-left: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include tablet {
      flex-direction: row;
      align-items: center;
      padding: 0 2rem;
      max-width: 1280px;
      margin: 0 auto;
      margin-top: 6rem;
      padding-bottom: 1.5rem;
    }
  }

  &__title {
    @include page-subheader;
    margin-bottom: 2rem;
    @include tablet {
      display: none;
    }
  }

  &__subtitle {
    @include body-large;
    font-weight: 600;
    margin: 1.5rem 0;
    @include tablet {
      display: none;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    @include tablet {
      display: flex;
      gap: 1rem;
    }
  }

  &__item {
    margin-bottom: 0.3125rem;
    @include body-medium;
  }

  &__social-icons {
    display: flex;
    gap: 0.75rem;
  }

  .social-icons__link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__bottom {
    text-align: center;
    margin-top: 1.25rem;
    @include body-small;
    @include tablet {
      margin-top: 1.5rem;
    }
  }
}
