@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem auto;
  max-width: 90%;
  @include tablet {
    max-width: 31.25rem;
  }

  &__bar {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 2px solid #cccccc;
    border-radius: 1.5rem;
    @include body-medium;
    color: $dark-grey;
    background-color: white;
    outline: none;
    transition: all 0.3s ease;

    &::placeholder {
      color: $text-grey;
      @include body-small;
    }

    &:focus {
      border-color: $blue;
      box-shadow: 0px 4px 10px rgba($blue, 0.2);
    }
  }
}

@media (max-width: 768px) {
  .search {
    max-width: 90%;
  }
}
