.event__main {
  margin: 2rem;
  margin-bottom: 15rem;
}

.event__image img {
  height: 400px;
  width: 400px;
  border-radius: 1rem;
}

.event__main h3 {
  font-size: 1.5rem;
}

.event__address {
  margin: 1rem 0;
}
